# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ansible files
*.retry

# Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Log files
*.log

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.bak
*.backup
*.orig
*.save

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Key files
private_key.pem